### IntelliJ IDEA (Essencial para o seu projeto) ###
.idea/
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Arquivos Compilados e Logs (Vindos do GitHub) ###
*.class
*.log
*.ctxt
.mtj.tmp/
hs_err_pid*
replay_pid*

### Pacotes e Compactados ###
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### Outras IDEs e Sistemas (Para manter o repositório limpo) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.vscode/
.DS_Store